
.wrapper h1 {
    text-align: center;
    color: red
}


.wrapper h3 {
    color: #333; 
}


.container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 20px; 
}

.container {
   
    background-color: #ecf0f1; 
    padding: 20px; 
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #bdc3c7; 
   
    
}


input[type="text"] {
    display: flex;
    
    /* width: calc(100% - 20px);  */
    height: 35px; 
    border-radius: 4px;
    color: #333; 
    padding: 5px; 
    margin-bottom: 10px; 
    border: 1px solid #bdc3c7; 
}

input[type="submit"] {
    height: 30px; 
    width: 80px; 
    border-radius: 4px;
    background-color: #3498db; 
    border: 1px solid #2980b9; 
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}
.Edit1{
    height: 30px; 
    width: 80px; 
    border-radius: 4px;
    background-color: #3498db; 
    border: 1px solid #2980b9; 
    color: #fff;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #2980b9; 
}


.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    border: 20px;
}


.book-card {
    width: calc(33.33% - 20px);
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.book-card h2 {
    font-size: 18px; 
    margin-bottom: 10px; 
    color: #333; 
}

.book-card p {
    margin-bottom: 10px; /* Added margin for better spacing */
    color: #666; /* Gray color */
}

.book-card button {
    height: 30px; /* Adjusted button height */
    width: 100px; /* Adjusted button width */
    border-radius: 4px;
    background-color: #2ecc71; /* Green color */
    border: none;
    color: #fff; /* White text color */
    cursor: pointer;
}

.book-card button:hover {
    background-color: #27ae60; /* Dark green background on hover */
}

.item h2{
    color: red;
}
.delete {
    height: 40px; 
    width: 100px; 
    border-radius: 10px; 
    background-color: #3498db; 
    border: none; 
    color: #fff; 
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}
.edit {
    height: 40px; 
    width: 100px; 
    border-radius: 10px; 
    background-color: #3498db; 
    border: none; 
    color: #fff; 
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    margin-left: 2px;
}

.b2{
    width: 100%;
}
.b3{
    width: 100%;
}

.pagination li {

 list-style: none;
}